p {
    margin-block-end: 0;
}

.main-header {
  display: flex;
  width: 100%;  
  flex-direction: row;
  gap: 80%;
  margin-top: 0.5%;
}

.main-header-text {
  width: max-content;
}

#vtc-logo {
  text-align: right;
}

.issue-desc-wrapper {
  height: min-content;
}

.new-complaint-tablist {
  width: 100%;
  height: 100%;
}

.new-complaint-wrapper {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: inline-flex;
    flex-direction: row;
    align-items: left;
    /* padding: 2%; */
}

.left-pane {
  float: left;
  height: auto;
  width: 50%;
  height: 80%;
}

.right-pane {
  float: right;
  height: auto;
  width: 50%;
  height: 80%;
}
