p {
  margin-block-end: 0;
}

.edit-intake-wrapper {
  display: grid;
  flex-direction: row;
  align-items: left;
  width: 100%;
  padding: 5px;
  font-size: medium;
}

.info-button {
  font-size: medium;
  padding: 0;
}

.info-card {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px 2px rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 99%;
  height: max-content;
  position: relative;
  margin: auto;
}

.issue-desc-wrapper {
  width: 100%;
}

.issue-desc {
  width: 90%;
  height: 100%;
}

.bp3-timepicker-arrow-row {
  text-align: left;
}

.bp3-input-group {
  width: 200px;
}

/* .submit {
  align-self: flex-end;
} */