.complaints-table {
  width: max-content;
}

.existing-complaints-wrapper {
  width: 100%;
  /* height: 100%; */
  overflow: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: left;
  padding: 10px;
}

/* .complaints-table-wrapper {
  width: 100%;
} */

.table-body {
  display: block;
}