p {
  margin-block-end: 0;
}

.first-review-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: inline-flex;
  flex-direction: row;
  align-items: left;
  padding: 5px;
  font-size: medium;
}

.info-container {
  background-color: white;
  font-size: medium;
  white-space: pre-line;
  padding: 1%;
  margin-bottom: 1%;
}

.mdr-info-text {
  font-size: medium;
  line-height: 150%;
}

.left-pane-first-rev {
  float: left;
  height: auto;
  width: 50%;
  height: 80%;
  font-size: medium;
}

.right-pane-first-rev {
  float: right;
  height: auto;
  width: 50%;
  height: 80%;
  font-size: medium;
}

.issue-rationale-wrapper {
  width: 90%;
}

.issue-rationale {
  width: 100%;
}

.issue-desc-first-rev {
  width: 100%;
  background-color: floralwhite;
  padding: 2%;
  white-space: pre-line;
}

.first-rev-comments {
  width: 90%;
  size: 5vh;
}