p {
    margin-block-end: 0;
}

/* h3 {
    margin: 1%;
} */

.MDR-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    padding: 5px;
    font-size: medium;
}
