.dashboard-wrapper {
  overflow: hidden;
}

.user-dashboard-wrapper {
  width: 100%;
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: row;
  align-items: left;
  /* padding: 5px; */
}

.dashboard-container-left {
  flex: 1;
  flex-grow: 0.8;
}

.dashboard-container-right {
  flex: 1;
  flex-grow: 4;
}

.menu-container {
  margin-top: 10%;
  margin-left: 5%;
}

.menu-option {
  height: 2em;
  font-size: 1.25em;
  text-align: left;
}

.greeting-wrapper {
  width: 100%;
  text-align: center;
  margin-top: 1%;
}

.greeting {
  /* text-align: center; */
}