p {
  margin-block-end: 0;
}

.cust-followup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: left;
  width: 100%;
  font-size: medium;
}

.left-pane-cust-followup {
  float: left;
  height: auto;
  width: 60%;
  height: 80%;
}

.right-pane-cust-followup {
  float: right;
  height: auto;
  width: 40%;
  height: 80%;
}

.issue-desc-wrapper {
  width: 100%;
}

.issue-desc {
  width: 100%;
  height: 100%;
}

.bp3-timepicker-arrow-row {
  text-align: left;
}

.bp3-input-group {
  width: 200px;
}