body {
  /* background-image: url('../../logo_icon.jpg');
  background-repeat: repeat; */
  backdrop-filter: blur(10px);
  backdrop-filter: opacity(20%);
}

.login-wrapper {
  width: 100%;
  height: 100%;
}

.login-form {
  background: white;
  border-radius: 25px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: max-content;
  height: max-content;
  position: relative;
  margin: auto;
  padding: 4%;
  text-align: center;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-fields {
  width: min-content;
  position: relative;
  margin: auto;
}

.input-label {
  text-align: left;
}

.submit-wrapper {
  width: 100%;
  /* margin-top: 2%; */
  display: inline-flex;
  margin-top: 10%;
  /* text-align: 'center'; */
}

.submit-button {
  position: relative;
  margin: auto;
}