html {
  height: 100%;
}

body {
  height: 100%;
}

#root {
  height: 100%;
}

h2 {
  margin-top: 0;
}

.height-min-content {
  height: min-content;
}

.spinner {
  height: 100%;
  display: grid;
}

.align-items-center {
  align-items: center;
}

.warning-text {
  color: red;
  font-weight: bold;
  padding: 10px;
}

.text-top {
  vertical-align: text-top;
}

.text-align-left {
  text-align: left;
}

.text-align-center {
  text-align: center;
}

.font-x-large {
  font-size: x-large;
}

.font-large {
  font-size: large;
}

.font-med {
  font-size: medium;
}

.existing-complaints-container {
  width: 100%;
  height: 70%;
  position: relative;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.initial-buttons-wrapper {
  /* visibility: visible; */
  width: 100%;
  height: 20%;
  position: relative;
  align-items: center;
  display: inline-flex;
  flex-direction: row;
  text-align: center;
}

.initial-buttons-span {
  width: 100%;
  height: 10%;
  vertical-align: middle;
  display: inline-flex;
  /* align-content: center; */
  justify-content: center;
  gap: 10%;
}

.outline-none {
  outline: none;
}

.wrapper {
  padding: 20px;
  height: 100%;
}

.form-table {
  table-layout: fixed;
  width: 100%;
}

.width-min-content {
  width: min-content;
}

.width-max-content {
  width: max-content;
}

.width-fit-content {
  width: fit-content;
}

.width-vw-75 { 
  width: 75vw;
}

.width-50p {
  width: 50%;
}

.width-60p {
  width: 60%;
}

.width-80p {
  width: 80%;
}


.width-100p {
  width: 100%;
}

.width-25 {
  width: 25px;
}

.width-50 {
  width: 50px;
}

.width-100 {
  width: 100px;
}

.width-175 {
  width: 175px;
}

.width-200 {
  width: 200px;
}

.width-250 {
  width: 250px;
}

.width-300 {
  width: 300px;
}

.width-350 {
  width: 350px;
}

.width-400 {
  width: 400px;
}

.width-450 {
  width: 450px;
}

.width-500 {
  width: 500px;
}

.padding-10 {
  padding: 10px;
}

.padding-20 {
  padding: 20px;
}

.padding-top-0 {
  padding-top: 0;
}

.padding-top-2 {
  padding-top: 2px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-20 {
  padding-top: 20px;
}

.margin-0 {
  margin: 0;
}

.margin-10 { 
  margin: 10px;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-top-1p {
  margin-top: 1%;
}

.margin-left-1p {
  margin-left: 1%;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-bottom-1p {
  margin-bottom: 1%;
}

.margin-top-4p {
  margin-top: 4%;
}

.margin-left-4p {
  margin-left: 4%;
}

.margin-bottom-4p {
  margin-bottom: 4%;
}

.pre-line {
  white-space: pre-line;
}

.font-weight-bold {
  font-weight: bold;
}

.truncate {
  width: 450px;
  /* white-space: pre-line; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} 

.row-wrapper-1 {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 0.5%;
  gap: 1%;
  padding-bottom: 10px;
}

.row-wrapper-5 {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 0.5%;
  gap: 5%;
  padding-bottom: 10px;
}

.row-wrapper-10 {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 0.5%;
  gap: 10%;
  padding-bottom: 10px;
}

.row-wrapper-20 {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 0.5%;
  gap: 20%;
  padding-bottom: 10px;
}

.row-wrapper-40 {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 0.5%;
  gap: 40%;
  padding-bottom: 10px;
}

.row-wrapper-80 {
  display: flex;
  flex-direction: row;
  align-items: left;
  margin-top: 0.5%;
  gap: 80%;
  padding-bottom: 10px;
}

.border-radius-10 {
  border-radius: 10px;
}

.generated-table {
  border: 2px solid;
  text-align: center;
}

.display-flex {
  display: flex;
}

label {
  display: block;
}

.help-text-wrapper {
  background-color:#F9F9F9;
  text-align: center;
  margin-left: 2%;
  border-radius: 5px;
  width: 40%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.help-text {
  font-size: medium;
  padding: 2%;
}

.no-suggestions {
  color: #999;
  padding: 0.3rem;
}

.c {
  font-size: normal;
  border: 1px solid #999;
  border-top-width: 0;
  list-style: none;
  margin-top: 0;
  /* max-height: 143px; */
  overflow-y: auto;
  padding-left: 0;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  /* width: calc(300px + 1rem); */
}

.suggestions li {
  padding: 0.3rem;
}

.suggestion-active,
.suggestions li:hover {
  background-color: rgba(125, 188, 255, 0.6);
  color: #106BA0;
  cursor: pointer;
  /* font-weight: 700; */
}

.suggestions li:not(:last-of-type) {
  /* border-bottom: 1px solid #999; */
}

.margin-3px {
  margin: 3px;
}

.noti-button-wrapper {
  position: relative;
}

.noti-badge {
  background: #de0b0b;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  z-index: 2;
  position: absolute;
  top: 0;
  right: 0;
  /* text-align: center;
  color: red;
  font-size: 2em;
  top: -20px;
  right: 1px; */
}

.border-gray {
  border: dotted;
  border-width: 1px;
}

.display-none {
  display: none;
}

.close-alert {
  max-width: max-content;
  width: max-content;
}

.vtc-logo {
  position: absolute;
  width: 4vw;
  top: 10px;
  right: 10px;

  -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
     -moz-animation: fadein 2s; /* Firefox < 16 */
      -ms-animation: fadein 2s; /* Internet Explorer */
       -o-animation: fadein 2s; /* Opera < 12.1 */
          animation: fadein 2s;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 50%;
  transform: translateX(-50%);
}
