.create-account-wrapper {
  width: 100%;
  height: 100%;
}

.create-account-card {
  background: white;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 20%;
  height: 65vh;
  position: relative;
  margin: auto;
  top: 40%;
  -webkit-transform: translateY(-40%);
  -ms-transform: translateY(-40%);
  transform: translateY(-40%);
}

.create-account-form {
  width: 100%;
  height: min-content;
  background: white;
  display: flow-root;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.input-fields {
  width: min-content;
  position: relative;
  margin: auto;
}

.input-label {
  text-align: left;
}

.input-wrapper {
  margin: 1%;
}

.login-input {
  padding: 10px;
}

.submit-wrapper {
  width: 100%;
  /* margin-top: 2%; */
  display: inline-flex;
  margin-top: 10%;
  /* text-align: 'center'; */
}

.role-wrapper {
  width: 100%;
}

.submit-button {
  position: relative;
  margin: auto;
}