p {
  margin-block-end: 0;
}

.intake-wrapper {
  display: flex;
  flex-direction: column;
  align-items: left;
  width: inherit;
  padding: 5px;
}

.left-pane-intake {
  float: left;
  width: 50%;
  height: 80%;
  font-size: medium;
}

.right-pane-intake {
  float: right;
  width: 45%;
  height: 80%;
  margin-left: 2%;
  font-size: medium;
}

.multiselect-container {
  width: 50%;
}

.issue-desc-wrapper {
  width: 60%;
  height: 5em;
}

.issue-desc {
  width: 100%;
  height: 100%;
}

.bp3-timepicker-arrow-row {
  text-align: left;
  }

.bp3-input-group {
  width: 200px;
}