/* .container-left {
  position: absolute;
  float: left;
  height: auto;
  width: 10%;
  height: 100%;
}

.container-right {
  float: right;
  height: auto;
  width: 80%;
  height: 80%;
}

.settings-menu-container {
  margin-top: 15%;
  margin-left: 15%;
}

.menu-option {
  outline: none;
  height: 2em;
  font-size: 1.25em;
  text-align: left;
} */
.settings-wrapper {
  position: fixed;
}

.button-wrapper {
  margin: 3%;
}
